<link rel="stylesheet" href="~/css/FooterPartial.css" asp-append-version="true" />

<div class="footer">
    <div class="footer-container">
    <h1 class="follow-label">follow us at</h1>
        <div>
            <a href="https://www.linkedin.com/in/youssefsayedelghool/">
                <img src="~/Images/LinkedIn.png" />
            </a>
            <a href="https://www.linkedin.com/in/youssefsayedelghool/">
            <img src="~/Images/facebook.png" />
            </a>
            <a href="https://www.linkedin.com/in/youssefsayedelghool/">
            <img src="~/Images/insta.png" />
            </a>
        </div>

        <h6 style="width: 188px;width: 188px;text-align: center;">
            Copyright© 2024 Elghool Food . All right reserved
        </h6>
    </div>
</div>



