


<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Formes.css" asp-append-version="true" />

<div class="form-container">
    <form id="loginForm" method="post" class="form" action="http://localhost:5181/login">
        <div class="form-logo-container">
            <img src="~/Images/Logo.png" class="form-logo-img" alt="Elghool Food Logo" />
            <h1 class="form-logo-header">Elghool Food</h1>
        </div>

        <div class="form-input-container">
            <label for="email">Email</label>
            <input id="email" name="Email" class="input" placeholder="Enter your email" />
            <span id="email-error"></span>

            <label for="password">Password</label>
            <input id="password" name="Password" class="input" type="password" placeholder="Enter your password" />
            <span id="password-error"></span>
        </div>

        <button type="submit" class="form-button" id="login-button">Login</button>

        <div class="form-links">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Forgot password</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </div>
    </form>
</div>


<script type="module">

    import { TokenHandel } from '/js/tokenhandel.js';

    document.getElementById("loginForm").addEventListener("submit", function (event) {
        event.preventDefault();

        const form = event.target;
        const formData = new FormData(form);


        const data = {};
        formData.forEach((value, key) => {
            data[key] = value;
        });

        fetch(form.action, {
            method: form.method,
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    return response.json();
                    throw new Error(`Server error: ${response.statusText}`);
                }
            })
            .then(result => {
                if (result.isCompleteSuccessfully) {
                   var data = result.data;
                    console.log(data.token)
                    console.log(result)
                    TokenHandel.setToken(data.token, data.refreshToken, data.refreshTokenExpiration)

                    window.location.href = '/Home/Index';
                } else {
                    console.error("Error in response", data);
                }
            })
            .catch(error => {
                console.error("Error submitting", error);
            });
    });




</script>


