

<div class="home-container">

    <br />

    <partial name="_SliderPartial" />
    <br />
    <partial name="_ReviewPartial" />
    <br />
    <partial name="FooterPartial" />

@*     <div class="d-flex justify-content-center">
        <button type="button" class="my-btn">Booking Now</button>
    </div> *@

</div>